<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <p class="p-6 bg-blue-400">Welcome to the EMGMT portal.</p>
    <!-- <form>
        <label class="p-6 bg-red-100">Some Form</label>
        <input type="text" name="title" class="p-6 bg-red-10">
        <label class="p-6 bg-red-100">Something</label>
        <input type="text" name="anything" class="p-6 bg-red-10">
        <input type="submit" class="p-6 bg-red-200">
    </form> -->
    {% for employee in employees %}
        <h6 class="p-4 bg-green-200">
            {{ employee.name }}
        </h6>
        <p class="p-2 bg-red-100"> {{employee.email }}</p>
    {% endfor %}
</body>
</html>